$darkBlue: #091833;
$turquoise: #0abdc6;
$white: #fff;
$purple: #711c91;
$pink: #ea00d9;
$blue: #133e7c;

.director-dialog {
  background-color: $turquoise;
  margin-top: 0;
  box-shadow: none;
}

.director-dialog-title {
  color: $white;
  font-size: large;
  font-weight: bold;
  padding: 25px 0 0 25px;
}

.director-dialog-content {
  color: $white;
}

.director-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  line-height: 14px;
  min-width: auto;
  border: none;
  font-size: 20px;
  cursor: pointer;
}