$darkBlue: #091833;
$turquoise: #0abdc6;
$white: #fff;
$purple: #711c91;
$pink: #ea00d9;
$blue: #133e7c;

.mat-card {
  max-width: 300px;
  margin: auto;
  padding: 30px;
  flex-direction: column;
  box-shadow: 0 10px 30px $blue;
  background-color: $turquoise;
  justify-content: space-evenly;
}

.mat-card-header {
  margin-bottom: 20px;
  color: $white;
  font-size: x-large;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

mat-label {
  color: $blue;
}

input.mat-input-element {
  color: $white;
}

.mat-card>.mat-card-actions {
  margin-left: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: space-evenly;
}